{% extends "layout.html" %} {% block body %}

<div class="row">
  <div class="col-md-5">
    <h1>Actualizar Usuario</h1>
    <form action="/user/update/{{user.0}}" method="POST">
      <div class="col">
        <input type="text" name="name" placeholder="Nombre" value="{{user.1}}" class="form-control"/>
      </div>
      <div class="col">
        <input type="text" name="lastname" placeholder="Apellido" value="{{user.2}}" class="form-control"/>
      </div>
      <div class="col">
        <input type="number" name="age" placeholder="Edad" value="{{user.3}}" class="form-control"/>
      </div>
      <div class="col">
        <input type="text" name="address" placeholder="Direccion" value="{{user.4}}" class="form-control"/>
      </div>
      <div class="col mt-4">
        <button type="submit" class="btn btn-primary" class="form-control">Actualizar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
