{% extends "layout.html" %} {% block body %}

<div class="row">
  <div class="col-md-5">
    <h1>Crear Usuario</h1>
    <form action="/user" method="POST">
      <div class="col">
        <input type="number" name="code" placeholder="Codigo" class="form-control"/>
      </div>
      <div class="col">
        <input type="text" name="name" placeholder="Nombre" class="form-control"/>
      </div>
      <div class="col">
        <input type="text" name="lastname" placeholder="Apellido" class="form-control"/>
      </div>
      <div class="col">
        <input type="number" name="age" placeholder="Edad" class="form-control"/>
      </div>
      <div class="col">
        <input type="text" name="address" placeholder="Direccion" class="form-control"/>
      </div>
      <div class="col mt-4">
        <button type="submit" class="btn btn-primary" class="form-control">Guardar</button>
      </div>
    </form>
  </div>
  <div class="col-md-7">
    <h1>Usuarios</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Direccion</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user.1}}</td>
          <td>{{user.2}}</td>
          <td>{{user.3}}</td>
          <td>{{user.4}}</td>
          <td>
            <a href="/user/edit/{{user.0}}" class="btn btn-sm btn-secondary">Editar</a>
          </td>
          <td>
            <a href="/user/delete/{{user.0}}" class="btn btn-sm btn-danger">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
